/* ### Utils ### */ /* *************** VARIABLES *************** */
:root {
  --main-font: "Roboto", "Relaway", sans-serif;
  --bg-color: #f5f4fa;
  --text-color: rgba(47, 48, 58, 0.8);
}

/* ########################################### */
.is-hidden {
  visibility: hidden;
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%); /* transformation */
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* ### Base ### */
/* *************** GLOBAL SETTINGS  *************** */
body {
  font-family: var(--main-font);
  color: #212121;
  position: relative;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

h1 {
  margin: 0px;
}

h2 { /* for mobile */
  margin: 0px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.179;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

/* ************************************************ */
/* auxiliary class  */
.container { /* for mobile */
  max-width: 450px;
  margin: 0 auto;
}
.container img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) { /* for tablet */
  .container {
    max-width: 738px;
    margin: 0 auto;
  }
  .container img {
    width: 100%;
    height: auto;
  }
}
.ssection { /* for mobile */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 60px;
  padding-bottom: 60px;
}

/* ### Header ### */
.main-head__logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #212121;
  text-decoration: none;
}
.main-head__logo--color {
  color: #2196f3;
}

.foter__logo { /* ### Logo - footer ### */
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}
.foter__logo--color {
  color: #2196f3;
}

.main-head {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 246px;
  padding: 16px 15px;
  position: relative;
  background-color: #ffffff;
  overflow: hidden;
}

.main-head--border-bottom {
  border-bottom: 1px solid #ececec;
}

/* *********************************************************** */
@media screen and (min-width: 768px) { /* for tablet */
  .main-head {
    gap: 83px;
    padding: 26px 15px;
  }
  .main-head__link .main-head__icon {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header-navigation__list { /* ### Menu navigation ### */
    margin: 0px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 60px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
  }
  .header-navigation__link {
    color: #212121;
    text-decoration: none;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-navigation__link:hover, .header-navigation__link:focus, .header-navigation__link:active {
    color: #2196f3;
  }
  .header-navigation__link--underline::after { /* PSEUDO CLASS ::AFTER */
    margin: 0px;
    margin-top: 29px;
    content: "";
    background-color: #2196f3;
    padding: 2px 26.5px;
    border-radius: 2px;
    display: block;
    position: absolute;
  }
}
/* ### Heading ### */
.heading { /* for mobile */
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  padding-top: 118px;
  padding-bottom: 58px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(/images/HeaderImg.jpg);
  background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url(/images/HeaderImg.jpg);
  background-repeat: no-repeat;
  background-size: 480px auto;
  background-position: center;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .heading {
    background-image: url(/images/HeaderImg@2x.jpg);
  }
}
.heading-overlay {
  background-color: rgba(47, 48, 58, 0.4);
}

.heading__title {
  margin: 0px;
  padding-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

/* **************************************************** */
@media screen and (min-width: 768px) { /* for tablet */
  .heading {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(/images/HeaderImgTablet.jpg);
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url(/images/HeaderImgTablet.jpg);
    background-size: 768px auto;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .heading {
    background-image: url(/images/HeaderImgTablet@2x.jpg);
  }
}
.heading__btn {
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding: 10px 41px 10px 42px;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}
.heading__btn:hover, .heading__btn:focus {
  cursor: pointer;
}

/* ### Our-strengths ### */
/* *************SECTION NO.1 - OUR STRENGTHS ************ */
.our-strengths__list { /* for mobile */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}
.our-strengths__list--distance {
  padding: 60px 0px;
}
.our-strengths__list .our-strengths__item .our-strengths__paragraph { /* paragraph */
  margin-top: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  text-align: left;
  color: #757575;
}

.our-strengths__icon { /* svg */
  width: 450px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--bg-color);
  border-radius: 4px;
}

/* ********************************************************* */
@media screen and (min-width: 768px) {
  .our-strengths__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .our-strengths__list--distance {
    padding-top: 60px;
    padding-bottom: 45px;
  }
  .our-strengths__list .our-strengths__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
  .our-strengths__list .our-strengths__item .our-strengths__icon {
    width: 354px;
  }
  .our-strengths__list .our-strengths__paragraph {
    text-align: left;
  }
}
/* ********* END SECTION NO.1 - OUR STRENGTHS ************ */
/* ### Our-job ### */
/* ************** SECTION NO.2 - OUR JOB ***************** */
.our-job__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  color: #212121;
}
.our-job__list--distance {
  padding-top: 50px;
}
.our-job__list .our-job__item {
  position: relative;
}

.our-job__text-box {
  margin: 0px;
  width: 370px;
  padding: 27px 0px;
  position: absolute;
  top: 224px;
  background-color: var(--text-color);
}
.our-job__text-box .our-job__name {
  margin: 0px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
}

/* ************ END SECTION NO.2 - OUR JOB *************** */
/* ### Our-team ### */
/* ************** SECTION NO.3 - OUR TEAM **************** */
.ssection-overlay {
  background-color: var(--bg-color);
}

.our-team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  color: #212121;
}
.our-team__list--distance {
  padding-top: 30px;
}
.our-team__list--position { /* svg */ /* for mobile */
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
  margin: 0px 122px 24px 122px;
}
.our-team__list .our-team__item {
  margin: 0px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}
.our-team__list .our-team__item--border {
  border: none;
  border-radius: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.our-team__list .our-team__item .our-team__name {
  margin: 0px;
  margin-top: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
}
.our-team__list .our-team__item .our-team__workplace {
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

/* ************ END SECTION NO.3 - OUR TEAM *************** */
/* **************************************************** */
@media screen and (min-width: 768px) {
  .our-team__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .our-team__list .our-team__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
.our-team__icon {
  fill: #AFB1B8;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  -webkit-transition-property: fill;
  transition-property: fill; /* transition */
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team__link:hover, .our-team__link:focus {
  fill: #ffffff;
}
.our-team__link:hover .our-team__icon, .our-team__link:focus .our-team__icon {
  background-color: #2196f3;
  fill: #ffffff;
}

/* ### Our-clients ### */
/* ************* SECTION NO.4 - OUR CLIENTS *************** */
.our-clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  gap: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  color: #212121;
}
.our-clients__list--distance {
  padding-top: 30px; /* for mobile */
}

/* ********* END SECTION NO.4 - OUR CLIENTS *************** */
.our-clients__box {
  margin: auto;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  padding: 16px 52px;
  -webkit-transition-property: border-color;
  transition-property: border-color; /* transition */
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.our-clients__icon { /* svg */
  width: 106px;
  height: 60px;
  fill: #AFB1B8;
  border: none;
  -webkit-transition-property: fill;
  transition-property: fill; /* transition */
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.our-clients__link:hover, .our-clients__link:focus {
  fill: #2196f3;
}
.our-clients__link:hover .our-clients__icon, .our-clients__link:focus .our-clients__icon {
  fill: #2196f3;
}
.our-clients__link:hover .our-clients__box, .our-clients__link:focus .our-clients__box {
  border-color: #2196f3;
}

/* ****************************************************** */
@media screen and (min-width: 768px) {
  .our-clients__box {
    padding: 16px 60px;
  }
}
/* ### Menu ### */
.menu__list {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  padding-left: 15px;
  padding-right: 73px;
}

.menu__btn {
  margin: 0px;
  padding: 6px 13px; /* for mobile */
  border-radius: 4px;
  border: none;
  font-size: 16px;
  font-weight: 500px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  -webkit-transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, box-shadow;
  transition-property: background-color, color, box-shadow, -webkit-box-shadow; /* transition */
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__btn:hover, .menu__btn:focus {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

/* ### Projects ### */
.project-card {
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  position: relative;
  top: 40px; /* for mobile */
  left: 15px; /* for mobile */
}

.project-card__item {
  position: relative;
  border-bottom: 1px solid #eeeeee;
  background-color: #ffffff;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow; /* transition */
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.project-card__item:hover {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.project-card__item:hover .project-card__description-box {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project-card__picture {
  margin: 0px;
  padding: 0px;
  position: relative;
  overflow: hidden;
}
.project-card__picture:hover { /* transformation */
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.project-card__picture:hover .project-card__description-box {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project-card__name {
  margin: 0px;
  padding-top: 20px;
  padding-left: 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.project-card__category {
  margin: 4px 0px 20px 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--third-color);
}

.project-card__description-box {
  position: absolute;
  top: 0px;
  margin: 0px;
  width: 100%;
  padding: 77px 24px; /* for mobile */
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%); /* transformation */
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.project-card__description-box .project-card__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.555;
  letter-spacing: 0.03em;
  color: #ffffff;
}

/* ### Footer ### */
.foter {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 60px; /* for mobile */
}

.foter-overlay {
  background-color: #2f303a;
}

.foter__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  padding-top: 60px;
}
.foter__list .foter__item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.foter__list--collocation {
  padding-top: 0px;
  gap: 8px;
}

.foter__list--collocation-social {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
  padding-top: 0px;
}

.foter__head {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

/* *************************************************** */
.foter__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.foter__link:hover, .foter__link:focus {
  color: #2196f3;
}

.foter__icons { /* svg */
  fill: #ffffff;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition-property: background-color;
  transition-property: background-color; /* transition */
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.foter__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
.foter__link:hover .foter__icons, .foter__link:focus .foter__icons {
  background-color: #2196f3;
}

.foter__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.foter__form .foter__field-email {
  width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: #2f303a;
}
.foter__form .foter__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 10px 13px 10px 42px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  border: 0px;
  border-radius: 4px;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.foter__form .foter__btn:hover, .foter__form .foter__btn:focus {
  cursor: pointer;
  opacity: 0.5;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.foter__form .foter__btn .foter__form-icon {
  width: 24px;
  height: 24px;
  margin-left: 24px;
  fill: #ffffff;
}

/* ### Backdrop ### */
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(0);
          transform: translateY(0); /* transformation */
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* ### Window modal ### */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 450px;
  height: 609px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal__head {
  margin-top: 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.modal .modal-form { /* ### form ### */
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 40px 20px 40px;
  gap: 10px;
}
.modal .modal-form__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: #757575;
}
.modal .modal-form .modal-form__chack-name { /*checkbox*/
  position: relative;
  top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 12px; /* for mobile */
  line-height: 1.166; /* for mobile */
  letter-spacing: 0.03em;
  color: #757575;
  overflow: hidden;
}

.modal__icon { /* svg */
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  -webkit-transition-property: border-color, fill;
  transition-property: border-color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__icon:hover {
  border-color: #2196f3;
  fill: #2196f3;
}

.modal-form__check-frame { /* frame of checkbox */
  position: absolute;
  padding-top: 2px;
  width: 16px;
  height: 15px;
  border: 2px solid black;
  border-radius: 2px;
}
.modal-form__check-frame .modal-form__check-icon {
  position: absolute;
  width: 11px;
  height: 8px;
  fill: #ffffff;
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
}

.modal-form__clause {
  margin-left: 8px; /* for mobile */
}

.modal-form__link {
  color: #2196f3;
}
.modal-form__link:hover .modal-form__icon, .modal-form__link:focus-within .modal-form__icon {
  fill: #2196f3;
}
.modal-form__link:hover .modal-form__field, .modal-form__link:focus-within .modal-form__field {
  border-color: #2196f3;
}
.modal-form__link .modal-form__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  margin-top: 12px;
  margin-left: 15px;
  fill: #212121;
  -webkit-transition-property: fill, border-color;
  transition-property: fill, border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__field { /* field of form */
  width: 370px; /* for mobile */
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}
.modal-form__field:hover {
  border-color: #2196f3;
}

.modal-form__field--border { /* filed of comment */
  margin: 0px;
  resize: none;
  padding: 12px 16px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}

.modal-form__check { /* svg - checkbox */
  margin: 0px;
  padding: 0px;
  opacity: 0;
}
.modal-form__check:checked ~ .modal-form__check-frame {
  background-color: #2196f3;
  border-color: #2196f3;
}
.modal-form__check:checked ~ .modal-form__check-frame .modal-form__check-icon {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  background-color: #2196f3;
  border-color: #2196f3;
}

.modal-form__btn { /* button */
  position: absolute;
  top: 420px;
  padding: 10px 52px; /* for mobile */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2196f3;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
}
.modal-form__btn:hover, .modal-form__btn:focus {
  opacity: 0.5;
}

/* ### Header icon for mobile ### */
.main-head__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main-head__link:hover .main-head__icon, .main-head__link:focus .main-head__icon {
  fill: #2196f3;
  cursor: pointer;
}

.main-head__icon {
  width: 40px;
  height: 40px;
}

/* ### Mobile menu ### */
.mobile-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 480px;
  height: 796px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
}
.mobile-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
  position: absolute;
  top: 48px;
  left: 40px;
}
.mobile-menu .mobile-menu-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
  position: absolute;
  top: 562px;
  left: 40px;
}
.mobile-menu .mobile-menu-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  position: absolute;
  top: 726px;
  left: 40px;
}

.mobile-menu__link,
.mobile-menu-contact__link,
.mobile-menu-social__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
}
.mobile-menu__link:hover, .mobile-menu__link:focus,
.mobile-menu-contact__link:hover,
.mobile-menu-contact__link:focus,
.mobile-menu-social__link:hover,
.mobile-menu-social__link:focus {
  color: #2196f3;
}
.mobile-menu__link:hover .mobile-menu__icon, .mobile-menu__link:focus .mobile-menu__icon,
.mobile-menu-contact__link:hover .mobile-menu__icon,
.mobile-menu-contact__link:focus .mobile-menu__icon,
.mobile-menu-social__link:hover .mobile-menu__icon,
.mobile-menu-social__link:focus .mobile-menu__icon {
  fill: #2196f3;
  cursor: pointer;
}

.mobile-menu-contact__link--style-email {
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-menu-contact__link--style-telephone {
  font-size: 34px;
  line-height: 1.176;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.mobile-menu-contact__link--style-telephone:hover {
  opacity: 0.5;
}

.mobile-menu-social__link--style {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.mobile-menu-social__link--style:hover, .mobile-menu-social__link--style:focus {
  opacity: 0.5;
}

.mobile-menu-social__vertical-line {
  margin-left: 10px;
  border-left: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-menu__icon {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 10px;
  right: 15px;
}

/* *********************************************************** */
@media screen and (min-width: 768px) { /* for tablet */
  .mobile-menu {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */