/* ### Utils ### */ /* *************** VARIABLES *************** */
:root {
  --main-font: "Roboto", "Relaway", sans-serif;
  --bg-color: #f5f4fa;
  --text-color: rgba(47, 48, 58, 0.8);
}

/* ########################################### */
.is-hidden {
  visibility: hidden;
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%); /* transformation */
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* ### Base ### */
/* *************** GLOBAL SETTINGS  *************** */
body {
  font-family: var(--main-font);
  color: #212121;
  position: relative;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

h1 {
  margin: 0px;
}

h2 {
  margin: 0px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.116;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

/* ************************************************ */
/* auxiliary class  */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.ssection {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 94px;
  padding-bottom: 94px;
}

/* ### Header ### */
.main-head__logo { /* ### Logo - header ### */
  margin: 0px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #212121;
  text-decoration: none;
}
.main-head__logo--color {
  color: #2196f3;
}

.foter__logo { /* ### Logo - footer ### */
  margin: 0px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}
.foter__logo--color {
  color: #2196f3;
}

.main-head-border-bottom {
  border-bottom: 1px solid #ececec;
}

.main-head {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 32px 0px;
  background-color: #ffffff;
}

.header-navigation__list { /* ### Menu navigation ### */
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 43px;
  margin-left: 93px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  margin-right: 364px;
}

.header-navigation__link {
  color: #212121;
  text-decoration: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-navigation__link:hover, .header-navigation__link:focus, .header-navigation__link:active {
  color: #2196f3;
}
.header-navigation__link--underline::after { /* PSEUDO CLASS ::AFTER */
  margin: 0px;
  margin-top: 36px;
  content: "";
  background-color: #2196f3;
  padding: 2px 26.5px;
  border-radius: 2px;
  display: block;
  position: absolute;
}

.header-contact { /* ### Header contact ### */
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}

.header-contact__link {
  color: #757575;
  text-decoration: none;
  -webkit-transition-property: color;
  transition-property: color; /* transition */
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contact__link:hover, .header-contact__link:focus {
  color: #2196f3;
}
.header-contact__link:hover .header-contact__icon, .header-contact__link:focus .header-contact__icon {
  fill: #2196f3;
}

.header-contact__icon { /* svg */
  margin-right: 10px;
  width: 16px;
  height: 12px;
  fill: #757575;
  -webkit-transition-property: fill;
  transition-property: fill; /* transition */
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* ### Heading ### */
.heading {
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 200px 0px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/imgNew.jpg");
  background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url("../images/imgNew.jpg");
  background-repeat: no-repeat;
  background-size: 1600px auto;
  background-position: center;
}

.heading-overlay {
  background-color: #2f303a;
}

.heading__title {
  margin: 0px;
  padding-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.heading__btn {
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding: 10px 41px 10px 42px;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}
.heading__btn:hover, .heading__btn:focus {
  cursor: pointer;
}

/* ### Our-strengths ### */
/* *************SECTION NO.1 - OUR STRENGTHS ************ */
.our-strengths__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  color: #212121;
}
.our-strengths__list--distance {
  padding-top: 94px;
}
.our-strengths__list .our-strengths__item .our-strengths__icon { /* svg */
  margin-bottom: 30px;
  background-color: var(--bg-color);
  border-radius: 4px;
}
.our-strengths__list .our-strengths__item .our-strengths__paragraph { /* paragraph */
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}

/* ********* END SECTION NO.1 - OUR STRENGTHS ************ */
/* ### Our-job ### */
/* ************** SECTION NO.2 - OUR JOB ***************** */
.our-job__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  color: #212121;
}
.our-job__list--distance {
  padding-top: 50px;
}
.our-job__list .our-job__item {
  position: relative;
}

.our-job__text-box {
  margin: 0px;
  width: 370px;
  padding: 27px 0px;
  position: absolute;
  top: 224px;
  background-color: var(--text-color);
}
.our-job__text-box .our-job__name {
  margin: 0px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
}

/* ************ END SECTION NO.2 - OUR JOB *************** */
/* ### Our-team ### */
/* ************** SECTION NO.3 - OUR TEAM **************** */
.ssection-overlay {
  background-color: var(--bg-color);
}

.our-team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  color: #212121;
}
.our-team__list--distance {
  padding-top: 50px;
}
.our-team__list--position { /* svg */
  gap: 10px;
  margin: 0px 32px 30px 32px;
}
.our-team__list .our-team__item {
  margin: 0px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}
.our-team__list .our-team__item--border {
  border: none;
  border-radius: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.our-team__list .our-team__item .our-team__name {
  margin: 0px;
  margin-top: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
}
.our-team__list .our-team__item .our-team__workplace {
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

/* ************ END SECTION NO.3 - OUR TEAM *************** */
.our-team__icon {
  fill: #AFB1B8;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  -webkit-transition-property: fill;
  transition-property: fill; /* transition */
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team__link:hover, .our-team__link:focus {
  fill: #ffffff;
}
.our-team__link:hover .our-team__icon, .our-team__link:focus .our-team__icon {
  background-color: #2196f3;
  fill: #ffffff;
}

/* ### Our-clients ### */
/* ************* SECTION NO.4 - OUR CLIENTS *************** */
.our-clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  color: #212121;
}
.our-clients__list--distance {
  padding-top: 50px;
}

/* ********* END SECTION NO.4 - OUR CLIENTS *************** */
.our-clients__icon { /* svg */
  margin: 0px;
  width: 170px;
  height: 92px;
  fill: #AFB1B8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  -webkit-transition-property: border-color, fill;
  transition-property: border-color, fill; /* transition */
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.our-clients__link:hover, .our-clients__link:focus {
  fill: #2196f3;
  border-color: #2196f3;
}
.our-clients__link:hover .our-clients__icon, .our-clients__link:focus .our-clients__icon {
  fill: #2196f3;
  border-color: #2196f3;
}

/* ### Menu ### */
.menu__list { /* ### menu ### */
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  padding-left: 295px;
}

.menu__btn {
  margin: 0px;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  font-weight: 500px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  -webkit-transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, box-shadow;
  transition-property: background-color, color, box-shadow, -webkit-box-shadow; /* transition */
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__btn:hover, .menu__btn:focus {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

/* ### Projects ### */
.project-card {
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  margin-top: 50px;
}

.project-card__item {
  border-bottom: 1px solid #eeeeee;
  background-color: #ffffff;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow; /* transition */
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.project-card__item:hover {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.project-card__item:hover .project-card__description-box {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project-card__picture {
  margin: 0px;
  padding: 0px;
  position: relative;
  overflow: hidden;
}
.project-card__picture:hover { /* transformation */
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.project-card__picture:hover .project-card__description-box {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project-card__name {
  margin: 0px;
  padding-top: 20px;
  padding-left: 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.project-card__category {
  margin: 4px 0px 20px 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--third-color);
}

.project-card__description-box {
  position: absolute;
  top: 0px;
  margin: 0px;
  width: 100%;
  padding: 49px 45px 49px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%); /* transformation */
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.project-card__description-box .project-card__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.555;
  letter-spacing: 0.03em;
  color: #ffffff;
}

/* ### Footer ### */
.foter {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 60px 0px;
}

.foter-overlay {
  background-color: #2f303a;
}

.foter__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-right: 70px;
  padding-top: 20px;
}

.foter__list--collocation {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 9px;
}

.foter__list--collocation-social {
  gap: 10px;
  margin: 0px;
}

.foter__item {
  position: relative;
  top: 0px;
  margin: 0px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-top: 9px;
}

.foter__head {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.foter__item--collocation {
  position: relative;
  left: 78px;
  top: 0px;
}

.foter__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition-property: color;
  transition-property: color; /* transition */
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.foter__link:hover, .foter__link:focus {
  color: #2196f3;
}

.foter__icons { /* svg */
  fill: #ffffff;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition-property: background-color;
  transition-property: background-color; /* transition */
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.foter__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
.foter__link:hover .foter__icons, .foter__link:focus .foter__icons {
  background-color: #2196f3;
}

.foter__form {
  margin: 0px;
}
.foter__form .foter__field-email {
  position: absolute;
  left: 0px;
  top: 52px;
  padding: 15px 0px 15px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  width: 358px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}
.foter__form .foter__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 29px;
  margin-left: 370px;
  padding: 10px 13px 10px 42px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  border: 0px;
  border-radius: 4px;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.foter__form .foter__btn:hover, .foter__form .foter__btn:focus {
  cursor: pointer;
  opacity: 0.5;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.foter__form-icon {
  width: 24px;
  height: 24px;
  margin-left: 24px;
  fill: #ffffff;
}

/* ### Backdrop ### */
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(0);
          transform: translateY(0); /* transformation */
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* ### Window modal ### */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal__head {
  margin-top: 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.modal .modal-form { /* ### form ### */
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 12px 40px 20px 40px;
  gap: 10px;
}
.modal .modal-form__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: #757575;
}
.modal .modal-form .modal-form__chack-name { /*checkbox*/
  position: relative;
  left: 13px;
  top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  overflow: hidden;
}

.modal__icon { /* svg */
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  -webkit-transition-property: border-color, fill;
  transition-property: border-color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__icon:hover {
  border-color: #2196f3;
  fill: #2196f3;
}

.modal-form__check-frame { /* frame of checkbox */
  position: absolute;
  padding-top: 2px;
  width: 16px;
  height: 15px;
  border: 2px solid black;
  border-radius: 2px;
}
.modal-form__check-frame .modal-form__check-icon {
  position: absolute;
  width: 11px;
  height: 8px;
  fill: #ffffff;
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
}

.modal-form__clause {
  margin-left: 7px;
}

.modal-form__link {
  color: #2196f3;
}
.modal-form__link:hover .modal-form__icon, .modal-form__link:focus-within .modal-form__icon {
  fill: #2196f3;
}
.modal-form__link:hover .modal-form__field, .modal-form__link:focus-within .modal-form__field {
  border-color: #2196f3;
}
.modal-form__link .modal-form__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  margin-top: 12px;
  margin-left: 15px;
  fill: #212121;
  -webkit-transition-property: fill, border-color;
  transition-property: fill, border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__field { /* field of form */
  width: 448px;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}
.modal-form__field:hover {
  border-color: #2196f3;
}

.modal-form__field--border { /* filed of comment */
  margin: 0px;
  resize: none;
  padding: 12px 16px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}

.modal-form__check { /* svg - checkbox */
  margin: 0px;
  padding: 0px;
  opacity: 0;
}
.modal-form__check:checked ~ .modal-form__check-frame {
  background-color: #2196f3;
  border-color: #2196f3;
}
.modal-form__check:checked ~ .modal-form__check-frame .modal-form__check-icon {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  background-color: #2196f3;
  border-color: #2196f3;
}

.modal-form__btn { /* button */
  position: absolute;
  left: 164px;
  top: 420px;
  padding: 10px 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #2196f3;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
}
.modal-form__btn:hover, .modal-form__btn:focus {
  opacity: 0.5;
}/*# sourceMappingURL=main.css.map */