.foter{
    box-sizing: border-box;

    padding-bottom: 60px;   /* for mobile */
}

.foter-overlay{
    background-color: $mainBgColor;
}

.foter__list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    padding-top: 60px;

    & .foter__item{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.714;
    
        letter-spacing: 0.03em;
    
        color: $fourthColor;
    }   
}

.foter__list--collocation{
    padding-top: 0px;
    gap: 8px;
}

.foter__list--collocation-social{
    flex-direction: row;
    gap: 10px;
    padding-top: 0px;
}

.foter__contact--collocation{
    margin-top: 20px;
}

.foter__head {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.143px;
        letter-spacing: 0.03em;
    
        color: $fourthColor;
}

/* *************************************************** */

@media screen and (min-width: 768px){
    .foter__list{
        flex-direction: row;
        gap: 144px;
    }
    .foter__list--collocation{
        flex-direction: column;
        gap: 8px;
    }
    .foter__list--collocation-social{
        gap: 10px;
    }
    .foter__list--position-social{
        flex-direction: column;
        gap: 20px;
    }
}