.foter{
    box-sizing: border-box;

    padding: 60px 0px;
}

.foter-overlay{
    background-color: $mainBgColor;
}

.foter__list{
    display: flex;
    align-content: center;

    margin-right: 70px;
    padding-top: 20px;
}
    
.foter__list--collocation{
    flex-direction: column;
    gap: 9px;
}

 .foter__list--collocation-social{
    gap: 10px;
    margin: 0px;
}

.foter__item{
    position: relative;
    top: 0px;
    margin: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;

    letter-spacing: 0.03em;

    color: $fourthColor;

    margin-top: 9px;
}

.foter__head {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143px;
    letter-spacing: 0.03em;

    color: $fourthColor;
}

.foter__item--collocation{
    position: relative;
    left: 78px;
    top: 0px;
}



























// .foter {
//     box-sizing: border-box;

//     padding: 60px 0px;
// }

// .foter__item {
//     position: relative;
//     top: 0px;
//     margin: 0px;
// }

// .distance-top {
//     margin-top: 10px;
// }

// .foter-list-item-icons {
//     display: flex;
//     align-items: center;
//     justify-content: center;

//     padding-top: 20px;
// }

// .foter-list-item-icons-item:not(:first-child) {
//     margin-left: 10px;
// }

// .foter__list {
//     display: flex;
//     align-content: center;
// }

// /* FORM */

// .foter-list-item-newsletter {
//     position: relative;
//     left: 78px;
//     top: 0px;
// }

// .foter-form {
//     margin: 0px;
// }

// .foter-form-email {
//     position: absolute;
//     left: 0px;
//     top: 36px;
//     padding: 15px 0px 15px 16px;

//     font-weight: 400;
//     font-size: 16px;
//     line-height: 1.25;

//     letter-spacing: 0.03em;

//     color: var(--contact-foter-color);

//     width: 358px;

//     background-color: var(--main-background-color);

//     border: 1px solid rgba(255, 255, 255, 0.3);
//     border-radius: 4px;
// }

// .foter-form-btn {
//     display: flex;
//     align-items: center;
//     text-align: center;

//     margin-top: 20px;
//     margin-left: 370px;
//     padding: 10px 13px 10px 42px;

//     font-weight: 700;
//     font-size: 16px;
//     line-height: 1.875;

//     letter-spacing: 0.06em;

//     color: var(--text-btn-color);
//     background-color: var(--main-color);

//     border: 0px;
//     border-radius: 4px;

//     transition-property: box-shadow;
//     transition-duration: 250ms;
//     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
// }

// .foter-form-btn:hover,
// .foter-form-btn:focus {
//     cursor: pointer;
//     opacity: 0.5;

//     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
// }

// .foter-form-icon {
//     width: 24px;
//     height: 24px;

//     margin-left: 24px;

//     fill: var(--text-btn-color);
// }

// /* END FORM */

// .foter__item:first-child {
//     margin-right: 70px;
// }

// .foter__icon{
//     /* SVG */
//     fill: var(--text-btn-color);

//     border-radius: 50%;
//     background-color: var(--bg-foter-icons);

//     /* TRANSITION */

//     transition-property: background-color;
//     transition-duration: 250ms;
//     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
// }

// .foter__icon:hover {
//     background-color: var(--main-color);
// }

// .foter-list-item-icons-item>a:focus .foter-icons {
//     background-color: var(--main-color);
// }

// .foter-overlay {
//     background-color: var(--main-background-color);
// }

// .foter__logo,
// .foter-logo-studio-part {

//     font-family: 'Raleway';
//     font-style: normal;
//     font-weight: 700;
//     font-size: 26px;
//     line-height: 1.192;

//     letter-spacing: 0.03em;

//     text-decoration: none;
// }

// .foter__logo{
//     color: var(--main-color);
// }

// .foter__logo--color{
//     color: var(--text-btn-color);
// }

// .foter__contact {
//     margin-top: 20px;
// }

// .foter__item {

//     font-family: 'Roboto';
//     font-style: normal;
//     font-weight: 400;
//     font-size: 14px;
//     line-height: 1.714;

//     letter-spacing: 0.03em;

//     color: var(--text-btn-color);

//     margin-top: 9px;
// }

// .foter__link{
//     font-weight: 400;
//     font-size: 14px;
//     line-height: 24px;

//     letter-spacing: 0.03em;
//     text-decoration: none;

//     color: var(--contact-foter-color);

//     /* TRANSITION */

//     transition-property: color;
//     transition-duration: 250ms;
//     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
// }

// .foter__link:hover,
// .foter__link:focus{
// // .foter-contact-details-item-telephone:hover,
// // .foter-contact-details-item-telephone:focus {
//     color: var(--main-color);
// }

// .foter__head {
//     font-weight: 700;
//     font-size: 14px;
//     line-height: 1.143px;
//     letter-spacing: 0.03em;

//     color: var(--text-btn-color);

// }