.heading{                       /* for mobile */
    margin: 0px;

    box-sizing: border-box;
    position: relative;

    padding-top: 118px;
    padding-bottom: 58px;

    background-image: linear-gradient(

                        0deg,
                      rgba(47,48,58,0.4)0%,
                      rgba(47,48,58,0.4)100%),
                        url(/images/HeaderImg.jpg);
    background-repeat: no-repeat;
    background-size: 480px auto;
    background-position: center;    

}

@media (min-device-pixel-ratio: 2),     /* Responsive background picture */
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
.heading {
  background-image: url(/images/HeaderImg@2x.jpg);
}
}

.heading-overlay{
        background-color: $mainBgColorMobile;
}

.heading__title{
        margin: 0px;
        padding-bottom: 30px;
    
        font-weight: 900;
        font-size: 26px;
        line-height: 1.615;
    
        text-align: center;
        letter-spacing: 0.06em; 
    
        color: $fourthColor;
}

/* **************************************************** */

@media screen and (min-width: 768px){   /* for tablet */
  .heading{  
    background-image: linear-gradient(

                    0deg,
                  rgba(47,48,58,0.4)0%,
                  rgba(47,48,58,0.4)100%),
                    url(/images/HeaderImgTablet.jpg);
    background-size: 768px auto;
  }

  @media (min-device-pixel-ratio: 2),     /* Responsive background picture */
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .heading {
    background-image: url(/images/HeaderImgTablet@2x.jpg);
  }
}
}

