.main-head{
    box-sizing: border-box;
    display: flex;
    align-items: center; 
    gap: 246px;
    padding: 16px 15px;

    position: relative;
  
    background-color: $fourthColor;

    //overflow: hidden;     /* for mobile */
  }

  .main-head--border-bottom{
    border-bottom: 1px solid $borderHeadColor;
}

 