.project-card{
    margin: 0px;

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 30px;

    position: relative;
    top: 40px;      /* for mobile */
    left: 15px;     /* for mobile */
   
    // margin-top: 50px;
    //margin-top: 40px;       /* for mobile */
}

