/* ************* SECTION NO.4 - OUR CLIENTS *************** */

.our-clients__list{           
    display: flex;
    align-items:center;
    gap: 30px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;

    color: $secondaryColor;

    &--distance{
        padding-top: 50px;
    }
}

/* ********* END SECTION NO.4 - OUR CLIENTS *************** */