/* ************* SECTION NO.4 - OUR CLIENTS *************** */

.our-clients__list{           
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    gap: 30px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;

    color: $secondaryColor;

    &--distance{
        // padding-top: 50px;
        padding-top: 30px;  /* for mobile */
    }
}

// .our-clients__item{
//     flex-basis: calc((100% - 30px) / 2);
// }

/* ********* END SECTION NO.4 - OUR CLIENTS *************** */

// @media screen and (min-width: 768px){
//     .our-clients__list{
//         justify-content: center;

//         & .our-clients__item{
//             flex-basis: ((100% - 60px) / 3);
//         }
//     }
// }