/* ************** SECTION NO.3 - OUR TEAM **************** */

.ssection-overlay{
    background-color: var(--bg-color);
}

.our-team__list{           
    display: flex;
    align-items:center;
    flex-direction: column;
    gap: 30px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;

    color: $secondaryColor;

    &--distance{
        padding-top: 30px;
    }

    &--position{      /* svg */ /* for mobile */
        flex-direction: row;  
        gap: 10px;
        margin: 0px 122px 24px 122px;
    }

    & .our-team__item{
        margin: 0px;
        
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
                    0px 1px 1px rgba(0, 0, 0, 0.14), 
                    0px 2px 1px rgba(0, 0, 0, 0.2);
    
        border-radius: 0px 0px 4px 4px;
    
        background-color: $fourthColor;
    
        &--border{
            border: none;
            border-radius: none;
            box-shadow: none;
        }

        & .our-team__name{
            margin: 0px;
            margin-top: 30px;   
        
            font-weight: 500;
            font-size: 16px;
            line-height: 1.188;
        
            text-align: center;
            letter-spacing: 0.03em;
        }

        & .our-team__workplace{
            margin: 0px;
        
            padding-top: 10px;
            padding-bottom: 16px;
        
            font-weight: 400;
            font-size: 16px;
            line-height: 1.188;
        
            text-align: center;
            letter-spacing: 0.03em;
        
            color: $thirdColor;
        }
    }
}

// .our-team__item-social{
//     box-sizing: border-box;
//     display: flex;
//     align-items: center;
//     gap: 10px;
// }


/* ************ END SECTION NO.3 - OUR TEAM *************** */

/* **************************************************** */

@media screen and (min-width: 768px){
    .our-team__list{
        flex-direction: row;
        flex-wrap: wrap;

        & .our-team__item{
            flex-basis: calc((100% - 30px) / 2);
        }
    }
}
