.foter__link{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;

    letter-spacing: 0.03em;

    color: $foterContactColor;

    &:hover,
    &:focus{
        color: $mainColor;
    }
}

