.foter__link{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;

    letter-spacing: 0.03em;

    color: $foterContactColor;

    &:hover,
    &:focus{
        color: $mainColor;
    }
}

// .foter__link{
//     font-weight: 400;
//     font-size: 14px;
//     line-height: 24px;

//     letter-spacing: 0.03em;
//     text-decoration: none;

//     color: $foterContactColor;

//     transition-property: color;     /* transition */
//     transition-duration: 250ms;
//     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

//     &:hover,
//     &:focus{
//     color: $mainColor;
// }
// }

