.header-contact{           /* ### Header contact ### */
    margin: 0px;
    display: flex;
    align-items: center;
    gap: 30px;

    position: relative;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;

    color: $thirdColor;
    text-decoration: none;
}

.header-contact__link{
    color: $thirdColor;
    text-decoration: none;

    transition-property: color;     /* transition */
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
        color: $mainColor;

        & .header-contact__icon{
            fill: $mainColor;
        }
    }
}

.header-contact__icon{       /* svg */
    margin-right: 10px;

    width: 16px;
    height: 12px;

    fill: $thirdColor;

    transition-property: fill;      /* transition */
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}





