.our-clients__icon{     /* svg */
    margin: auto;

    // width: 170px;
    width: 210px;   /* for mobile */
    height: 92px;

    

    // display: flex;
    // justify-content: center;
    // align-items: center;

    fill: $iconColor;

    box-sizing: border-box;
    border: 1px solid $iconColor;
    border-radius: 4px;

    transition-property: border-color, fill;    /* transition */
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.our-clients__link{

    &:hover,
    &:focus{
     fill:  $mainColor;
     border-color: $mainColor;
 
         & .our-clients__icon{
             fill:  $mainColor;
             border-color: $mainColor;
         }
    }
 }

 /* ****************************************************** */


        
//     }

    // .our-clients__link{
    //     // width: 226px;
    //     //display: flex;

    //     & .our-clients__icon{
    //         width: 226px;
    //         height: 92px;
    //         margin: auto;
    //         display: flex;

    //         & use {
    //             display: contents;
    //         }
    //     }
    // }
 