.our-team__icon{
    fill: $iconColor;

    border-radius: 50%;

    width: 44px;
    height: 44px;

    transition-property: fill;    /* transition */
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team__link{
    &:hover,
    &:focus{
        fill: $fourthColor;

        & .our-team__icon{
            background-color: $mainColor;
            fill: $fourthColor;
        }
    }
}