.ssection{              /* for mobile */

    box-sizing: border-box;

    padding-top: 60px;
    padding-bottom: 60px;
}


// .ssection{

//     box-sizing: border-box;

//     padding-top: 94px;
//     padding-bottom: 94px;
// }