/* *************** VARIABLES *************** */
  
$mainColor: #2196f3;
$secondaryColor: #212121;
$thirdColor: #757575;
$fourthColor: #ffffff;
$mainBgColor: #2f303a;
$borderCardColor: #eeeeee;
$borderHeadColor: #ececec;
$foterContactColor: rgba(255, 255, 255, 0.6);
$foterBgIconColor: rgba(255, 255, 255, 0.1);
$iconColor: #AFB1B8;
$modalBgColor: rgba(0, 0, 0, 0.2);
$modalBorderColor: rgba(0, 0, 0, 0.1);

:root{
    --main-font: 'Roboto', 'Relaway', sans-serif;
    --bg-color: #f5f4fa;
    --text-color: rgba(47, 48, 58, 0.8);
  }
     
/* ########################################### */